body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #000000;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.nav_menu h2 a{
    color: #FF0000;
    font-size: 40px;
    transition: .4s;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}

.nav_menu_logo:hover{
    transform: scale(1.2);
    color: #FFFFFF;
    transition: .3s;
}

.nav_menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}

.nav_menu ul li a{
    color: #FF0000;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

.nav_menu ul li a:hover{
    color: #FFFFFF;
    transition: .3s;
}

.nav_menu button{
    border: none;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 12px 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.nav_menu button:hover{
    transform: scale(1.2);
}

main{
    color: #FFFFFF;
    padding: 0px 1%;
    flex: 1;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}